<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit) = 'onAddNewElement(itemForm)' #itemForm = 'ngForm'>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id ="name" 
                    class="form-control" 
                    ngModel 
                    name="name"
                    required
                    #name = "ngModel"
                    >
                    <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a valid name!</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control" 
                    ngModel 
                    name="amount"
                    #amount = "ngModel"
                    required
                    pattern="^[1-9]+[0-9]*$">
                    <span class="help-block" *ngIf="+amount.value < 0">Please enter a positive number!</span>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled] = '!itemForm.valid'>{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" *ngIf="editMode" type="button" (click)= "onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click) = "onReset()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>